name: Generate IP Prefixes

on:
  workflow_dispatch:
  # push:
  #   branches: [ main ]
  # pull_request:
  #   branches: [ main ]
  # schedule:
  #   - cron: '0 0 * * *'  # 每天零点运行

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '>=3.12.3'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests ipaddress

    - name: Run script
      run: python 构建.py

    - name: Commit files
      run: |
        git config --local user.email "jwiet-puj.drin@mail.seres.studio"
        git config --local user.name "JwietPuj-Drin"
        git add .
        git commit -m "Update IP prefixes" || echo "No changes to commit"

    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: IP_Prefixes
        force: true
